@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.map_container {
  height: 50vh;
}

#map {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

#coord {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  padding: .5em 1em;
  background: rgba(29, 180, 190, .5);
  border-radius: 5px;
  color: #ea00ff;
}

#weather {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  padding: .5em 1em;
  background: rgba(29, 180, 190, .5);
  border-radius: 5px;
  color: #ea00ff;
}

img {
  width: 50px;
}

  
      