@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: gray;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.map_container {
  height: 50vh;
}

#map {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

#weather_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}

#coord,
#card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(170, 218, 255, 1);
  border-radius: 5px;
  color: rgba(0, 0, 0, .8);
}

#coord {
  text-align: center;
  margin: 1em auto;
  padding: .5em 1em;
}

#coord h3 {
  font-weight: 400;
  transition: .3s;
}

#coord h3:hover {
  font-weight: 700;
}

#card {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

#card p {
  padding: .3em;
}

#card:last-of-type {
  border: 2px solid rgba(223, 78, 60, .5);
}

p span {
  font-weight: 700;
}

#cards img {
  width: 50px;
}

#btn {
  width: 5rem;
  height: 5rem;
  margin: 1em;
  border-radius: 50%;
  align-self: center;
  border: 2px solid rgba(223, 78, 60, .5);
  outline: none;
  font-weight: 700;
  background: rgba(245, 245, 245, 1);
  color: rgba(0, 0, 0, .8);
  cursor: pointer;
  transition: .3s;
}

#btn:hover {
  transform: scale(1.05);
}

.scroll_top_btn {
  display: none;
  width: 2.6rem;
  height: 2.6rem;
  position: fixed;
  bottom: 2em;
  right: 2em;
  outline: none;
  border: none;
  border-radius: 50%;
  background: rgba(245, 245, 245, 1);
  box-shadow: 0 5px 5px rgba(128, 128, 128, .5);
  padding: .5em;
  cursor: pointer;
  transition: .3s;
}

.scroll_top_btn:active {
  background-color: var(grey);
  transform: translateY(-4px);
}

.scroll_icon,
.close_icon {
  width: 100%;
  opacity: .6;
}

.close_btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: .1em;
  position: absolute;
  top: .5em;
  right: .5em;
  outline: none;
  border: none;
  border-radius: 50%;
  background: rgba(245, 245, 245, 0);
  cursor: pointer;
  transition: .3s;
}

.close_btn:hover {
  background: rgba(245, 245, 245, .6);
}



